name: Build and Deploy Pages

on:
  push:
    branches: [ main ]

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0

      - name: Setup Node
        uses: actions/setup-node@v6.0.0
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install

      - name: Build with Eleventy
        run: npm run build

      - name: Configure Pages
        uses: actions/configure-pages@v5.0.0

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4.0.0
        with:
          path: ./docs

      # - name: Deploy to GitHub Pages
      #   uses: peaceiris/actions-gh-pages@v4.0.0
      #   with:
      #     github_token: ${{ secrets.GITHUB_TOKEN }}
      #     publish_dir: ./docs
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4.0.5